# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Directory for compiled output
dist
build

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Environment Files
.env


# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

